@media screen and (max-width: 1400px) {
    
    #profile {
        height: 83vh;
        margin-bottom: 6rem;
    }

    .about-container {
        flex-wrap:wrap;
    }

    #desktop-nav {
        display: none;
    }
    #hamburger-nav {
        display: flex;
    }

    /* Profile */

    .logo-img {
        width: 6rem;
    }

    .section__text__p1 {
        font-size: 0.7rem;
    }

    .title {
        font-size: 1.3rem;
    }
    .section__text__p2 {
        font-size: 0.8rem;
    }

    .tag {
        font-size: 0.9rem;
        margin-bottom: 0;
    }

    .btn__container {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .btn {
        display: inline;
        white-space: nowrap;
        padding: 0.9rem;
        width: auto;
        font-size: 0.7rem;
    }


    /* .btn-color-2{
        margin-left: 15px;
    } */

    .icon {
        height: 1.5rem;
    }

    /* About */

    .about-container {
        gap: 1rem;
        margin-bottom: 1rem;
        margin-top: 1rem;
        font-size: 13px;
    }

    .details-container {
        padding:0.9rem;
    }

    .about-text {
        font-size: 0.7rem;
    }

    /* Timeline */

    .history-tl-container ul.timeline-ul li {
        margin-left: 2rem;
    }

    .timestamp, .time {
        font-size: 0.7rem;
    }
    
    .history-tl-container ul.timeline-ul li::before{
        border: 8px solid rgba(255, 255, 255, 0.74);
        height: 12px;
        width: 12px;
        top: -2px;
        left: -16px;
    }

    /* Publications */

    .button-publications {
        padding: 3px 6px;
        width: auto;
        margin: 2px;
    }

    #publicationContent {
        font-size: 0.7rem;
    }

    .pub-bottom-links {
        font-size: 0.6rem;
        margin-left: 20px;
    }

    /* Achievements */

    .acv-button {
        width: auto;
        padding: 4px 6px;
        font-size: 0.6rem;
    }

    .acv-title {
        font-size: 0.7rem;
    }

    .acv-details-container li {
        font-size: 0.6rem;
    }

    .achievements-container {
        margin-top: 2rem;
    }

    /* Photography */

    .photo-description {
        font-size: smaller;
    }
    
    .big-text{
        font-size: small;
    }
    
    .photo-example {
        font-size: large;
    }

    .ph-pic {
        width: 200px;
        height: 300px;
    }

} 



@media screen and (max-width: 1200px) {


    .section-with-line {
        display: block; 
    }

    #experience, .experience-details-containers {
        margin-top: 2rem;
    }

    #profile, .section-container, #project{
        display: block;
    }

    .arrow, .arrow_top, .scroll__text, .scroll__text-top {
        display: none;
    }

    #scroll-up-btn {
        display: none;
        position: fixed;
        bottom: 1rem;
        right: 1rem;
        background-color: #258CC7;
        color: #fff;
        border: none;
        border-radius: 6px;
        padding: 3px 10px;
        cursor: pointer;
        z-index: 999;
        opacity: 0.5;
    }

    #scroll-up-btn:hover {
        background-color: black;
        filter: brightness(90%);
        opacity: 1;
    }

    section, .section-container {
        height: fit-content;
    }
    

    section {
        margin: 0 3.5%;
        display: inline-block;
    }

    .about-container {
        margin-top: 0;
    }

    #profile {
        height: 83vh;
        margin-bottom: 0;
    }

    .about-container, .btn-container {
        flex-wrap: wrap;
    }

    .section__pic-container {
        width: auto;
        height: 46vw;
        justify-content: center;
        margin: 2rem auto 2rem;
    }



    /* Project */

    .button-projects {
        width: 10rem;
        padding: 4px 6px;
        font-size: 0.6rem;
    }

    #projects, #timeline, #home {
        width: 90%;
    }

    .button-projects-container {
        flex-direction: column;
        align-items: center;
    }

    .project-details-container {
        align-items: center;
    }
    
    .project-image-container {
        margin: 0;
    }

    .project-text-container .pr-title {
        text-align: center;
    }

    .project-text-container .pr-subtitle {
        text-align: center;
    }
    

    .project-pic {
        width: 40vw;
    }

    .project-text-container {
        font-size: 0.7rem;
    }

    .project-details-container {
        flex-direction: column;
    }

    .project-image-container {
        order: 1;
    }
    .project-text-container {
        order: 2;
    }

    .btn-container-load {
        margin: 1px;
    }

    .button-projects-load {
        padding: 3px 6px;
        width: auto;
        font-size: 0.7rem;
    }
    

} 




@media screen and (max-width: 1000px) {

        /* Contact */

        .contact-content  {
            flex-direction: column;
            flex-wrap: wrap;
            margin: 0;
            gap: 0;
            padding: 0;
            justify-content: center;
            margin-top: 1rem;
            margin-bottom: 50px;
        }
    
        #contact {
            margin-left: 0;
        }
    
        #contact .contact-content .left, #contact .contact-content .left {
            margin-left: 2rem;
        }
    
        .info, .contant_text_inv {
            font-size: 0.7rem;
        }
    
        #contact .contact-content .right .text {
            font-size: 0.8rem;
        }
        
    
        #contact .right form .fields, #contact .right form .field,
        #contact .right form .fields .field {
            width: 40%;
            height: 30px;
            margin-bottom: 15px;
        }
    
        #contact .right form .fields input, #contact .right form .field input,
        #contact .right form .fields .field input {
            font-size: 0.7rem;
        }
    
        #contact .contact-content .column {
            margin: 0.4rem;
        }
    
        #contact .right form .textarea {
            margin-bottom: 1.2rem;
            height: 70px;
        }
    
        #contact .right form .textarea textarea {
            font-size: 0.7rem;
        }
        
    
        /* Footer */
        footer {
            height: 30vh;
            font-size: 0.6rem;
        }
        .nav-links {
            flex-direction: column;
            gap: 0.5rem;
            text-align: center;
            font-size: 0.8rem;
        }
    
        .footer-nav {
            margin-bottom: 60px;
        }


}
